
    #Workspace { width:100%; height:100%; }
	#carousels{float:left; width:300px; height:50%;}
    /* Data Viewer */
    #Viewer { float:left;  border:2px solid #555555; background-color:#ffffff; margin-left:1%; margin-top:2%; width:63%; height:89%; padding:1%;}
   
    /* Generic Carousel Properties */
    .carousel { position:relative; clear:both; left:20px; margin-top:10%; 
        border:2px solid #555555; background-color:#333333;
    }
    .carousel .navButton {
        cursor:pointer; display:block; text-indent:-9999px; background-repeat:none; z-index:10;
    }
    .carousel .container { position:absolute; overflow:hidden; }
    .carousel .items { position:absolute; }
    .carousel .item { position:relative;
        cursor:pointer;
	    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
        -moz-opacity:0.7;
        opacity:0.7;
        list-style-type:none; margin:0px; 
    }
    .carousel .item.hover, .carousel .item.selected { 
	    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
        -moz-opacity:1.0;
        opacity:1.0;    
    }

    /* Vertical Carousel */
    #Carousel { float:left;width:85%; height:200px;}
    #Carousel .container {margin-top:5px;margin-left:5px;margin-right:5px; width:95%; height:80%; }
        
    #Carousel .items { top:0; left:2px; }
    #Carousel .item { background-color:#ffffff; height:28px; margin-bottom:2px;  width:230px; }
    #Carousel .item.hover { background-color:#999999; }
    #Carousel .item.selected { background-color:#ffffff; }
    #Carousel .item .caption { position:absolute; left:35px; top:5px; width:135px; background-color:transparent; font-size:10px; }
    #Carousel .item .icon img { position:relative; left:5px; width:22px !important; height:22px; cursor:default; top:2px;}
    #Carousel .navButton { position:absolute; bottom:0px; width:122px; height:28px; }
    #Carousel .navButton.previous {  left:0px; background-image:url('../images/interface/button.up.png');  }
    #Carousel .navButton.next { right:0px; background-image:url('../images/interface/button.down.png'); }
    
    /* Hide data items from selector */
    #Carousel .item .email {display:none;} 

    /* Horizontal Carousel */
    #Carousel2 {float: left; height:88px; width:260px; }
    #Carousel2 .container { left:26px; top:12px; width:210px; height:100px; }        
    #Carousel2 .items { top:0; left:2px; width:1000px;}
    #Carousel2 .item { height:70px;  width:70px; float:left; clear:right; }
    #Carousel2 .item .icon img { position:relative; left:0px; width:65px !important; height:65px; cursor:pointer;}
    #Carousel2 .navButton { position:absolute; bottom:0px; width:24px; height:87px; }
    #Carousel2 .navButton.previous {  left:0px; background-image:url('../images/interface/button.left.png'); }
    #Carousel2 .navButton.next { right:0px; background-image:url('../images/interface/button.right.png'); }

    /* Hide data items from selector */
    #Carousel2 .item .key { display:none;}
    #Carousel2 .item .picture { display:none;}