Options +FollowSymLinks
RewriteEngine on
RewriteBase /argazkiBilduma/
RewriteRule ^/$ index.php [L]
RewriteRule ^logout$ logout.php [L]
RewriteRule ^setUser$ setUser.php [L]
RewriteRule ^seePhotosByStatus$ seePhotosByStatus.php [L]
RewriteRule ^editProfile$ editProfile.php [L]
RewriteRule ^login$ login.php [L]
RewriteRule ^register$ register.php [L]
RewriteRule ^publicPhotos$ publicPhotos.php [L]
RewriteRule ^privatePhotos$ privatePhotos.php [L]
RewriteRule ^addPhotos$ addPhotos.php [L]
RewriteRule ^editPhotos$ editPhotos.php [L]
RewriteRule ^graphPhotos$ graphPhotos.php [L]
RewriteRule ^removePhotos$ removePhotos.php [L]
RewriteRule ^infoAlbums$ infoAlbums.php [L]
RewriteRule ^addAlbums$ addAlbums.php [L]
RewriteRule ^editAlbums$ editAlbums.php [L]
RewriteRule ^removeAlbums$ removeAlbums.php [L]
RewriteRule ^infoUsers$ infoUsers.php [L]
RewriteRule ^removeUsers$ removeUsers.php [L]
RewriteRule ^validUsers$ validUsers.php [L]
RewriteRule ^blockUsers$ blockUsers.php [L]
RewriteRule ^unblockUsers$ unblockUsers.php [L]
RewriteRule ^seeAllAlbums$ seeAllAlbums.php [L]
RewriteRule ^removeAllPhotos$ removeAllPhotos.php