Options +FollowSymLinks
RewriteEngine on
RewriteBase /argazkiBilduma/
RewriteRule ^/$ index.php [L]
RewriteRule ^logout$ logout.php [L]
RewriteRule ^setUser$ setUser.php [L]
RewriteRule ^setAlbum$ setAlbum.php [L]
RewriteRule ^setProfile$ setProfile.php [L]
RewriteRule ^login$ login.php [L]
RewriteRule ^register$ register.php [L]
RewriteRule ^publicAlbum$ publicAlbum.php [L]
