Options +FollowSymLinks
RewriteEngine on
RewriteBase /argazkiBilduma/
RewriteRule ^/$ index.php [L]
RewriteRule ^logout$ logout.php [L]
RewriteRule ^setUser$ setUser.php [L]
RewriteRule ^manageAlbum$ manageAlbum.php [L]
RewriteRule ^nireAlbumak$ nireAlbumak.php [L]
RewriteRule ^editProfile$ editProfile.php [L]
RewriteRule ^login$ login.php [L]
RewriteRule ^register$ register.php [L]
RewriteRule ^publicPhotos$ publicPhotos.php [L]
RewriteRule ^privatePhotos$ privatePhotos.php [L]
RewriteRule ^editAlbum$ editAlbum.php [L]
RewriteRule ^editPhoto$ editPhoto.php [L]

